<!DOCTYPE html>
<html>
<head>
    <title>Reservation Form</title>
</head>
<body>
<h2>Reservation Form</h2>
<form action="/reservation" method="post">
    Train Number: <input type="text" name="trainNumber"><br>
    Class Type: <input type="text" name="classType"><br>
    Date of Journey: <input type="text" name="dateOfJourney"><br>
    From: <input type="text" name="fromPlace"><br>
    To: <input type="text" name="toDestination"><br>
    <input type="submit" value="Make Reservation">
</form>
</body>
</html>